node_modules/
officeParserTemp/
officeParser.bk.js
*.DS_Store
.vscode/
/dist/
*.actual.json
*.actual.txt
*.traineddata
/test/results/
/test/generator/results/
/test/generator/output/
/test/parser/results/
/test/parser/output/
sbom.cdx.json
scratch
repro
.npm-cache